AZURE_STORAGE_ENDPOINT={{ azure_storage_endpoint | to_json }}
AZURE_STORAGE_CONTAINER={{ azure_storage_container | to_json }}
# JSON quoting is intentional: systemd EnvironmentFile must preserve SAS '&',
# '=' and '%' characters as part of one value instead of tokenizing them.
AZURE_STORAGE_SAS_TOKEN={{ vault_backup_sas_token | to_json }}
AZURE_BACKUP_PREFIX={{ azure_backup_prefix | to_json }}
