VAULT_SEAL_TYPE=azurekeyvault
AZURE_TENANT_ID=668422a3-343d-49d5-9d39-808049dc1652
AZURE_CLIENT_ID=21e44c9e-ff51-4b9d-8bde-940cfbc77f91
VAULT_AZUREKEYVAULT_VAULT_NAME=his-hope-unseal
VAULT_AZUREKEYVAULT_KEY_NAME=his-hope-vault-unseal
AZURE_CLIENT_SECRET_FILE=D:/secure/his-hope/azure_client_secret
VAULT_TRANSIT_SEAL_ADDR=https://vault-unseal.internal:8200
VAULT_TRANSIT_KEY_NAME=his-hope-vault-unseal
VAULT_TRANSIT_MOUNT_PATH=transit/
VAULT_DB_ADMIN_USER=vault_manager
POSTGRES_ADMIN_PASSWORD_FILE=D:/secure/his-hope/postgres_admin_password
SPIRE_DATABASE_PASSWORD_FILE=D:/secure/his-hope/spire_database_password
POSTGRES_MIGRATOR_PASSWORD_FILE=D:/secure/his-hope/postgres_migrator_password
VAULT_DB_ADMIN_PASSWORD_FILE=D:/secure/his-hope/vault_db_admin_password
VAULT_BOOTSTRAP_TOKEN_FILE=D:/secure/his-hope/vault_bootstrap_token
VAULT_SNAPSHOT_TOKEN_FILE=D:/secure/his-hope/vault_snapshot_token
VAULT_TEST_TOKEN_FILE=D:/secure/his-hope/vault_rotation_test_token
POSTGRES_CA_FILE=D:/secure/his-hope/postgres_ca.pem
POSTGRES_CERT_FILE=D:/secure/his-hope/postgres_cert.pem
POSTGRES_KEY_FILE=D:/secure/his-hope/postgres_key.pem
SPIRE_NODE_CA_FILE=D:/secure/his-hope/spire_node_ca.pem
SPIRE_SERVER_BUNDLE_FILE=D:/secure/his-hope/spire_server_bundle.pem
SPIRE_AGENT_CERT_FILE=D:/secure/his-hope/spire_agent_cert.pem
SPIRE_AGENT_KEY_FILE=D:/secure/his-hope/spire_agent_key.pem
SPIRE_OIDC_CA_FILE=D:/secure/his-hope/spire_oidc_ca.pem
VAULT_CA_FILE=D:/secure/his-hope/vault_ca.pem
VAULT_CERT_FILE=D:/secure/his-hope/vault_cert.pem
VAULT_KEY_FILE=D:/secure/his-hope/vault_key.pem
OIDC_CERT_FILE=D:/secure/his-hope/oidc_cert.pem
OIDC_KEY_FILE=D:/secure/his-hope/oidc_key.pem
