global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    user haproxy
    group haproxy

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend k3s-api
    bind *:{{ lb_k3s_api_port }}
    mode tcp
    default_backend k3s-api-backend

backend k3s-api-backend
    mode tcp
    balance roundrobin
    option tcp-check
{% for backend in lb_k3s_api_backends %}
    server {{ backend.name }} {{ backend.address }}:{{ lb_k3s_api_port }} check
{% endfor %}

frontend ingress-http
    bind *:{{ lb_ingress_http_port }}
    mode tcp
    default_backend ingress-http-backend

backend ingress-http-backend
    mode tcp
    balance roundrobin
    option tcp-check
{% for backend in lb_ingress_backends %}
    server {{ backend.name }} {{ backend.address }}:{{ lb_ingress_http_node_port }} check
{% endfor %}

frontend harbor-https
    bind *:{{ lb_harbor_https_port }} ssl crt /etc/haproxy/certs/harbor-public.pem crt /etc/haproxy/certs/git-mirror-public.pem
    mode tcp
    # Harbor layer uploads can remain open while BuildKit streams large blobs.
    timeout client 1h
    use_backend git-mirror-https-backend if { ssl_fc_sni -i {{ lb_git_mirror_host }} }
    default_backend harbor-https-backend

backend harbor-https-backend
    mode tcp
    balance roundrobin
    option tcp-check
    timeout server 1h
    timeout tunnel 1h
{% for backend in lb_harbor_https_backends %}
    server {{ backend.name }} {{ backend.address }}:{{ lb_harbor_https_node_port }} ssl verify required ca-file /etc/haproxy/certs/harbor-backend-ca.pem verifyhost {{ lb_harbor_backend_server_name }} sni str({{ lb_harbor_backend_server_name }}) check-sni {{ lb_harbor_backend_server_name }} check
{% endfor %}

backend git-mirror-https-backend
    mode tcp
    balance roundrobin
    option tcp-check
    timeout server 1h
    timeout tunnel 1h
{% for backend in lb_git_mirror_backends %}
    server {{ backend.name }} {{ backend.address }}:{{ lb_git_mirror_https_node_port }} ssl verify required ca-file /etc/haproxy/certs/git-mirror-backend-ca.pem verifyhost {{ lb_git_mirror_host }} sni str({{ lb_git_mirror_host }}) check-sni {{ lb_git_mirror_host }} check
{% endfor %}
